[Desktop Entry]
Encoding=UTF-8
Name=NsCoin
Comment=NsCoin P2P Cryptocurrency
Exec=nscoin-qt %u
Terminal=false
Type=Application
Icon=nscoin128
MimeType=x-scheme-handler/nscoin;
Categories=Office;Finance;
Name[ru]=nscoin-qt.desktop.desktop
