[Unit]
Description=NsCoin's distributed currency daemon
After=network.target

[Service]
User=nscoin
Group=nscoin

Type=forking
PIDFile=/var/lib/nscoind/nscoind.pid

ExecStart=/usr/bin/nscoind -daemon -pid=/var/lib/nscoind/nscoind.pid \
          -conf=/etc/nscoin/nscoin.conf -datadir=/var/lib/nscoind

ExecStop=-/usr/bin/nscoin-cli -conf=/etc/nscoin/nscoin.conf \
         -datadir=/var/lib/nscoind stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
